html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0 15px;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  position: relative;
  font-size: 16px;
  font-family: "Squada One", sans-serif;
  background-color: #111111;
  color: #FFFFFF;
  min-height: 100vh;
}

a {
  color: #FFFFFF;
}

img {
  display: block;
}

h2, .h2 {
  font-size: 5.75rem;
  letter-spacing: -.2rem;
}

h3, .h3 {
  font-size: 2.625rem;
}

.text-sml {
  font-family: "Raleway", serif;
  font-size: .875rem;
}

.text-highlight {
  color: #1BE883;
}

.outline-text {
  text-transform: uppercase;
  color: #1BE883;
}

.outline-text span {
  color: #111111;
  text-shadow: -1px -1px 0 #1BE883, 1px -1px 0 #1BE883, -1px 1px 0 #1BE883, 1px 1px 0 #1BE883;
}

.track-card {
  border: 1px solid #1BE883;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.track-card__img {
  border-bottom: 1px solid #1BE883;
  padding: 30px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.track-card__img img {
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.track-card__info {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 100%;
}

.track-card__results {
  padding: 30px;
}

.track-card__results ol {
  list-style-type: none;
}

.track-card__results ol li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2px;
}

.track-card__results ol li:last-child {
  margin-bottom: 0;
}

.schedule-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.schedule-section > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: calc(50% - 20px);
}

.schedule-section > div:first-child {
  margin-right: 10px;
}

.schedule-section > div:nth-child(2) {
  margin-left: 10px;
}
/*# sourceMappingURL=styles.css.map */