html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0 $gutter-mob;
    box-sizing: inherit;
    position: relative;
    font-size: $font-size;
    font-family: $font-primary;
    color: $color-darkest;
    min-height: 100vh;
}

//  Type resets

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: $gutter-mob;

    @include breakpoint(medium) {
        margin-bottom: $gutter;
        font-size: 1.75rem;
    }
}

p {
    letter-spacing: -0.0125em;
    margin-bottom: $gutter-mob;
    font-weight: 300;
    @include breakpoint(medium) {
        font-size: 1.125rem;
        margin-bottom: $gutter;
    }
}

ul {
    list-style-position: inside;
    font-weight: 300;
    li {
        letter-spacing: -0.0125em;
        line-height: 1.25em;
        @include breakpoint(medium) {
            font-size: 1.125rem;
        }
    }
}

a {
    color: $color-darkest;
    font-weight: 300;
    transition: all .2 ease-in-out;

    &:hover {
        color: $color-brand;
    }
}
