html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0 $gutter-mob;
    box-sizing: inherit;
    position: relative;
    font-size: $font-size;
    font-family: $font-primary;
    background-color:$color-darkest;
    color:$color-lightest;
    min-height: 100vh;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

//  Type resets

// h1, h2, h3, h4, h5, h6 {

// }

a {
    color: $color-lightest;
}

img {
    display: block;
}