// Header styles

.site-header {
    display: flex;
    justify-content: space-between;
    padding: $gutter 0;
    border-bottom: 1px solid $color-brand;
    margin-bottom:$gutter;
}

.site-header h1 {
    font-family: $font-secondary;
    font-size: 0.875rem;
}

.site-header__menu {
    list-style-type: none;
    li {
        font-family: $font-secondary;
        font-size: 0.875rem;
        display: inline-block;
        padding-right: 25px;
        text-transform: uppercase;
        a {
            text-decoration: none;
            // &:hover {
            //     // Add a fancy underline here
            // }
        }
        &:last-of-type {
            padding-right: 0;
        }
    }
}