.track-card {
    border: 1px solid $color-brand;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.track-card__img {
    border-bottom: 1px solid $color-brand;
    padding: $padding;
    height: 300px;
    display: flex;
    justify-content: center;

    img {
        max-width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        object-fit: contain;
    }
}

.track-card__info {
    padding: $padding;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100%;
}

.track-card__results {
    padding: $padding;
    ol {
        list-style-type: none;
        li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 2px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}