// Home page styles

.schedule-section {
    display: flex;
    align-items: stretch;

    > div {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        &:first-child {
            margin-right: 10px;
        }
        &:nth-child(2) {
            margin-left: 10px;
        }
    }
}