h2, .h2 {
    font-size: 5.75rem;
    letter-spacing: -.2rem;
}

h3, .h3 {
    font-size: 2.625rem;
}

.text-sml {
    font-family: $font-secondary;
    font-size: .875rem;
}

.text-highlight {
    color: $color-brand;
}

.outline-text {
    text-transform: uppercase;
    color: $color-brand;

    span {
        color: $color-darkest;
        text-shadow: -1px -1px 0 $color-brand, 1px -1px 0 $color-brand, -1px 1px 0 $color-brand, 1px 1px 0 $color-brand;
    }
}