// Fonts
$font-primary: 'Ubuntu', sans-serif;

// Font sizing
$font-size: 16px;

// Colours
$color-brand: #3DB5BD;
$color-brand--tint: #1A8689;
$color-brand--bg: #CEECEE;
$color-darkest: #414149;
$color-lightest: #ffffff;
$color-border: #E6E6E6;
$color-bg: #F0F0F1;

// Team colors

$color-mercedes: black;
$color-ferrari: red;
$color-alpine: blue;
$color-haas: white;
$color-mclaren: orange;
$color-alfa: red;
$color-rbr: blue;
$color-aston: green;
$color-alpha: blue;
$color-willams: blue;

//Spacing
$gutter-mob: 15px;
$gutter: 20px;

