// Colours
$color-bg: #111111;
$color-brand: #D1FC02;
$color-white: #ffffff;

// Typefaces

$font-primary: 'Squada One', serif;
$font-secondary: 'Raleway', sans-serif;

// Utilities
$border-radius: 6px;