// Fonts
$font-primary: 'Squada One', sans-serif;
$font-secondary: 'Raleway', serif;



// Font sizing
$font-size: 16px;

// Colours
$color-darkest:#111111;
$color-lightest:#FFFFFF;
$color-brand:#1BE883;

// Team colors

$color-mercedes:#00d2be;
$color-ferrari:#dc0000;
$color-alpine:#0090ff;
$color-haas:#ffffff;
$color-mclaren:#FF9800;
$color-alfa:#900000;
$color-rbr:#0600ef;
$color-aston:#006f62;
$color-alpha:#2b4562;
$color-willams:#005aff;

//Spacing
$gutter-mob: 15px;
$gutter: 20px;

$padding-mob: 20px;
$padding: 30px;

